
<div class="basket ">
  <div class="basket__header">
    <span class="basket__icon"><mat-icon>shopping_cart</mat-icon></span>
    <span class="basket__count">(2)</span>
    <span class="basket__clear"><mat-icon [inline]="true" >cancel</mat-icon></span>
  </div>
  <div class="basket__body">
    <app-order [name]="'Пицца традиционная'" [diameter]="30" [price]="600" [type]="'Тонкое тесто'"></app-order>

  </div>
  <div class="basket__footer">
    <button class="basket__order">Заказать</button>
  </div>
</div>
