@import "src/theme/mixins";

$basket_main_color: var(--color-primary);
$border_color: var(--color-border);
.basket {
  @include box-shadow();
  @include card-borders();
  @include scroll();
  background: $basket_main_color;
  max-width: 350px;

  padding: 10px;
  border-top: 2px solid red;
  border-bottom:2px solid red;

  &__header {
    margin-bottom: 10px;
    border-bottom: .5px solid $border_color;
  }

  &__body{

    max-height: 70vh;
    overflow-y:auto ;
  }
  button.basket__order{
    @include buy-button();
  }


}
