<p>order-basket works!</p>
<div class="basket">
  <div class="basket__header">
    <span class="basket__title">Корзина</span>
    <span class="basket__count">(2)</span>
    <span class="basket__clear">x</span>
  </div>
  <div class="basket__body">
    <div class="basket__order order">
      <div class="order__body">
        <div class="order__picture"> <picture>
          <img src="./assets/images/pizza_1.jpeg" alt="Пицца с грибами" width="40px" height="30px">
        </picture></div>
        <div class="order__details">
          <div class="order__name">Пицца карбонара</div>
          <div class="order__params">Тонкое тесто, 30 см</div>
        </div>
        <div class="order__delete">x</div>
      </div>

      <div class="order__controls">
        <div class="order__counter counter">
          <div class="counter__minus">-</div>
          <div class="counter__value">2</div>
          <div class="counter__plus">+</div>
        </div>

      </div>
      <!--      TODO: повторяющийся элемент-->
      <div class="order__price price">
        <span class="price__value">690</span>
        <span class="price__unit">Р</span>
      </div>

    </div>
    <div class="basket__order order">
      <div class="order__body">
        <div class="order__picture"> <picture>
          <img src="./assets/images/pizza_1.jpeg" alt="Пицца с грибами" width="40px" height="30px">
        </picture></div>
        <div class="order__details">
          <div class="order__name">Пицца карбонара</div>
          <div class="order__params">Тонкое тесто, 30 см</div>
        </div>
        <div class="order__delete">x</div>
      </div>

      <div class="order__controls">
        <div class="order__counter counter">
          <div class="counter__minus">-</div>
          <div class="counter__value">2</div>
          <div class="counter__plus">+</div>
        </div>

      </div>
      <!--      TODO: повторяющийся элемент-->
      <div class="order__price price">
        <span class="price__value">690</span>
        <span class="price__unit">Р</span>
      </div>

    </div>

    <div class="basket__order order">
      <div class="order__body">
        <div class="order__picture"> <picture>
          <img src="./assets/images/pizza_1.jpeg" alt="Пицца с грибами" width="40px" height="30px">
        </picture></div>
        <div class="order__details">
          <div class="order__name">Пицца карбонара</div>
          <div class="order__params">Тонкое тесто, 30 см</div>
        </div>
        <div class="order__delete">x</div>
      </div>

      <div class="order__controls">
        <div class="order__counter counter">
          <div class="counter__minus">-</div>
          <div class="counter__value">{{count}}</div>
          <div class="counter__plus">+</div>
        </div>

      </div>
      <!--      TODO: повторяющийся элемент-->
      <div class="order__price price">
        <span class="price__value">690</span>
        <span class="price__unit">Р</span>
      </div>

    </div>
    <div class="basket__order order">
      <div class="order__body">
        <div class="order__picture"> <picture>
          <img src="./assets/images/pizza_1.jpeg" alt="Пицца с грибами" width="40px" height="30px">
        </picture></div>
        <div class="order__details">
          <div class="order__name">Пицца карбонара</div>
          <div class="order__params">Тонкое тесто, 30 см</div>
        </div>
        <div class="order__delete">x</div>
      </div>

      <div class="order__controls">
        <div class="order__counter counter">
          <div class="counter__minus">-</div>
          <div class="counter__value">2</div>
          <div class="counter__plus">+</div>
        </div>

      </div>
      <!--      TODO: повторяющийся элемент-->
      <div class="order__price price">
        <span class="price__value">690</span>
        <span class="price__unit">Р</span>
      </div>

    </div>
    <div class="basket__order order">
      <div class="order__body">
        <div class="order__picture"> <picture>
          <img src="./assets/images/pizza_1.jpeg" alt="Пицца с грибами" width="40px" height="30px">
        </picture></div>
        <div class="order__details">
          <div class="order__name">Пицца карбонара</div>
          <div class="order__params">Тонкое тесто, 30 см</div>
        </div>
        <div class="order__delete">x</div>
      </div>

      <div class="order__controls">
        <div class="order__counter counter">
          <div class="counter__minus">-</div>
          <div class="counter__value">2</div>
          <div class="counter__plus">+</div>
        </div>

      </div>
      <!--      TODO: повторяющийся элемент-->
      <div class="order__price price">
        <span class="price__value">690</span>
        <span class="price__unit">Р</span>
      </div>

    </div>
    <div class="basket__order order">
      <div class="order__body">
        <div class="order__picture"> <picture>
          <img src="./assets/images/pizza_1.jpeg" alt="Пицца с грибами" width="40px" height="30px">
        </picture></div>
        <div class="order__details">
          <div class="order__name">Пицца карбонара</div>
          <div class="order__params">Тонкое тесто, 30 см</div>
        </div>
        <div class="order__delete">x</div>
      </div>

      <div class="order__controls">
        <div class="order__counter counter">
          <div class="counter__minus">-</div>
          <div class="counter__value">2</div>
          <div class="counter__plus">+</div>
        </div>

      </div>
      <!--      TODO: повторяющийся элемент-->
      <div class="order__price price">
        <span class="price__value">690</span>
        <span class="price__unit">Р</span>
      </div>

    </div>
    <div class="basket__order order">
      <div class="order__body">
        <div class="order__picture"> <picture>
          <img src="./assets/images/pizza_1.jpeg" alt="Пицца с грибами" width="40px" height="30px">
        </picture></div>
        <div class="order__details">
          <div class="order__name">Пицца карбонара</div>
          <div class="order__params">Тонкое тесто, 30 см</div>
        </div>
        <div class="order__delete">x</div>
      </div>

      <div class="order__controls">
        <div class="order__counter counter">
          <div class="counter__minus">-</div>
          <div class="counter__value">2</div>
          <div class="counter__plus">+</div>
        </div>

      </div>
      <!--      TODO: повторяющийся элемент-->
      <div class="order__price price">
        <span class="price__value">690</span>
        <span class="price__unit">Р</span>
      </div>

    </div>
    <div class="basket__order order">
      <div class="order__body">
        <div class="order__picture"> <picture>
          <img src="./assets/images/pizza_1.jpeg" alt="Пицца с грибами" width="40px" height="30px">
        </picture></div>
        <div class="order__details">
          <div class="order__name">Пицца карбонара</div>
          <div class="order__params">Тонкое тесто, 30 см</div>
        </div>
        <div class="order__delete">x</div>
      </div>

      <div class="order__controls">
        <div class="order__counter counter">
          <div class="counter__minus">-</div>
          <div class="counter__value">2</div>
          <div class="counter__plus">+</div>
        </div>

      </div>
      <!--      TODO: повторяющийся элемент-->
      <div class="order__price price">
        <span class="price__value">690</span>
        <span class="price__unit">Р</span>
      </div>

    </div>
    <div class="basket__order order">
      <div class="order__body">
        <div class="order__picture"> <picture>
          <img src="./assets/images/pizza_1.jpeg" alt="Пицца с грибами" width="40px" height="30px">
        </picture></div>
        <div class="order__details">
          <div class="order__name">Пицца карбонара</div>
          <div class="order__params">Тонкое тесто, 30 см</div>
        </div>
        <div class="order__delete">x</div>
      </div>

      <div class="order__controls">
        <div class="order__counter counter">
          <div class="counter__minus">-</div>
          <div class="counter__value">2</div>
          <div class="counter__plus">+</div>
        </div>

      </div>
      <!--      TODO: повторяющийся элемент-->
      <div class="order__price price">
        <span class="price__value">690</span>
        <span class="price__unit">Р</span>
      </div>

    </div>

  </div>
  <div class="basket__footer">
    <button class="basket__order">Заказать</button>
  </div>
</div>
