
  <div class="cart ">
    <div class="cart__header">
      <span class="cart__icon"><mat-icon>shopping_cart</mat-icon></span>
      <span class="cart__count">(2)</span>
      <span class="cart__clear"><mat-icon [inline]="true" >cancel</mat-icon></span>
    </div>
    <div class="cart__body">
      <app-order *ngFor="let product of this.orderItemsService.getAllOrderProducts()" [product]="product"></app-order>
<!--      <app-order [name]="'Пицца традиционная'" [diameter]="30" [price]="600" [type]="'Тонкое тесто'"></app-order>-->
<!--      <app-order [name]="'Пицца ewqerwrwтрадиционная'" [diameter]="30" [price]="600" [type]="'Тонкое тесто'"></app-order>-->
<!--      <app-order [name]="'Пицца традиционная'" [diameter]="30" [price]="600" [type]="'Тонкоеrqwtrt тесто'"></app-order>-->
<!--      <app-order [name]="'Пицца традrrewиционная'" [diameter]="30" [price]="600" [type]="'Тонкое тесто'"></app-order>-->
<!--      <app-order [name]="'Пицца традrwerиционная'" [diameter]="30" [price]="600" [type]="'Тонкое тесто'"></app-order>-->
<!--      <app-order [name]="'Пицца традиционная'" [diameter]="30" [price]="600" [type]="'Тонкое тесто'"></app-order>-->
<!--      <app-order [name]="'Пицца традиционная'" [diameter]="30" [price]="600" [type]="'Тонкое тесто'"></app-order>-->
<!--      <app-order [name]="'Пицца трrrrrrrrrr rew     rадициtttttttttонная'" [diameter]="30" [price]="600" [type]="'Тонкое тесто'"></app-order>-->
<!--      <app-order [name]="'Пицца трrerwадиционная'" [diameter]="30" [price]="600" [type]="'Тонкоggdfg gggfg  е тесто'"></app-order>-->


    </div>
    <div class="cart__footer">
      <button class="cart__order"><a routerLink="/order">Заказать</a></button>
    </div>
  </div>


