<div class="cart ">
  <div class="cart__header" (click)="convertCurrency()">
    <span class="cart__icon"><mat-icon>shopping_cart</mat-icon></span>
    <span class="cart__count">(2)</span>
    <span class="cart__clear"><mat-icon [inline]="true">cancel</mat-icon></span>
  </div>
  <div class="cart__body">
    <app-order *ngFor="let order of this.deliveryService.allOrders()" [orderItem]="order">
    </app-order>
  </div>
  <div class="cart__footer">
    <button class="cart__order" (click)="redirectToOrderPage()">Заказать</button>
    <app-total-cost class="cart__total-cost"></app-total-cost>
  </div>
</div>


