@import "~src/theme/mixins";
$bg_color: var(--color-primary);
$control_bg: var(--color-minor);

.card {
  @include box-shadow();
  @include card-borders();
  display: inline-block;
  background: $bg_color;
  width: 250px;
  margin: 10px;
  padding: 15px;
  @media (min-width: 1025px) {
    width: 250px;
  }

  &__pic {
    text-align: center;
    img{
      width: 100px;
      height: 70px;
      float: left;
      @media (min-width: 1025px) {
        height: 180px;
        width: 190px;
        float: none;
      }
    }
  }

  &__title {
    h3 {
      margin: 5px 0;
    }
  }
//TODO: сделать перенос текста
  &__description {
    height: 70px;
    max-width: 250px;
    text-overflow: ellipsis;
    overflow: hidden;
    @media (min-width: 1025px) {
      height: 100px;
    }
  }
  &__buy-button{
    @include buy-button();
    margin: 20px 0 ;
  }
  &__price{
    display: inline-block;
    float: right;
    margin: 20px 10px ;
    font-size: 20px;
  }
  &__controls{
    margin-top: 10px;
  }
}
