@import "~src/theme/mixins";

$bg_color: var(--color-primary);
$control_bg: var(--color-bg);
.card {
  //font-family: 'PT Sans', Serif, sans-serif !important;
  @include box-shadow();
  @include card-borders();
  display: inline-block;
  background: $bg_color;
  max-width: 300px;
  margin: 10px;
  padding: 15px;
  @media (min-width: 1025px) {
    max-width: 250px;
    //padding: 5px;
    height: 450px;
    margin: 20px;
  }

  &__pic {
    text-align: center;
    img{
      width: 100px;
      height: 70px;
      float: left;
      @media (min-width: 1025px) {
        height: 160px;
        width: 200px;
        float: none;
      }
    }
  }

  &__title {
    h3 {
      margin: 5px 0;
    }
  }
//TODO: сделать перенос текста
  &__description {
    height: 70px;
    max-width: 250px;
    //word-wrap: break-word;
    //word-break: break-all;
    ////line-break: ;
    //overflow-wrap: break-word;
    //white-space: nowrap;

    text-overflow: ellipsis;
    overflow: hidden;
    @media (min-width: 1025px) {
      height: 100px;
    }
  }
  &__buy-button{
    @include buy-button();
    margin: 20px 0 ;
  }
  &__price{
    display: inline-block;
    float: right;
    margin: 20px 10px ;
    font-size: 20px;
  }
  &__controls{
    margin-top: 10px;
  }
}
//
//.control {
//  @include control-borders();
//  background: $control_bg;
//  margin-top: 5px;
//  text-align: center;
//  display: flex;
//  background: $bg_color;
//
//  &__item {
//    @include control-borders();
//    flex-grow: 1;
//    padding: 10px;
//    display: inline-block;
//    border-radius: 20px;
//    color: $control_bg;
//
//    &.active {
//      background: $control_bg;
//      color: black;
//    }
//
//    &:hover {
//      color: black;
//      cursor: pointer;
//    }
//  }
//}
