
<div class="card">
  <div class="card__pic">
    <picture>
      <img src="./assets/images/pizza_1.jpeg" alt="Пицца с грибами" width="200px" height="160px">
    </picture>
  </div>

  <div class="card__title">
    <h3>Пицца традиционная</h3>
  </div>
  <div class="card__description">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet iste numquam omnis praesentium quaerat
    quia quod sit vel voluptates. Commodi debitis
  </div>
  <div class="card__controls">
    <div class="card__control control type">
      <div class="control__item active">Традиционное</div>
      <div class="control__item">Тонкое</div>
    </div>
    <div class="card__control control size">
      <div class="control__item">20 см</div>
      <div class="control__item active">30 см</div>
      <div class="control__item">40 см</div>
    </div>
  </div>
  <div class="card__buy-area">
    <button class="card__buy-button buy__button">В корзину</button>
    <div class="card__price price">
      <span class="price__value">690</span>
      <span class="price__unit">Р</span>
    </div>
  </div>


</div>
