<div class="wrapper">
  <div class="container">
    <div class="order">
      <div class="order__header">
        <div class="order__info more" (click)="toggleOrderBodyDisplay()">Заказ
          <span class="icon" *ngIf="bodyIsDisplayed">
        <mat-icon>expand_more</mat-icon>
          </span>
          <span class="icon" *ngIf="!bodyIsDisplayed">
        <mat-icon>expand_less</mat-icon>
          </span>
        </div>
        <div class="order__total-cost ">
          <app-total-cost></app-total-cost>
        </div>
      </div>
      <div class="order__body" *ngIf="bodyIsDisplayed">
        <app-order *ngFor="let order of this.deliveryService.allOrders()" [orderItem]="order"></app-order>
      </div>
    </div>
  </div>


  <app-delivery-form></app-delivery-form>


</div>
