<div class="wrapper">


<div class="container">
  <div class="order">
    <div class="order__header">
      <div class="order__info more">Заказ <span class="more__icon"><mat-icon>expand_more</mat-icon></span></div>
      <div class="order__total-cost ">
        <app-total-cost (click)="convertCurrency()"></app-total-cost>
      </div>
    </div>
    <div class="order__body">
      <app-order *ngFor="let order of this.orderItemsService.allOrders()" [orderItem]="order"></app-order>
    </div>
  </div>
</div>
<div class="container">
  <div class="contact-form">
    <div class="contact-form__header"></div>
    <div class="contact-form__body">
      <app-order-form></app-order-form>
    <div>
  </div>
</div>

<div class="container">
  <div class="contact-form">
    <div class="contact-form__header"></div>
    <div class="contact-form__body">
      <app-delivery-form></app-delivery-form>
    </div>
  </div>
</div>
</div>
