<form [formGroup]="orderForm" class="contact-form">
<div class="contact-form__header">
  <h3>Contact Information</h3>
</div>
  <div class="contact-form__body">
    <div class="contact-form__group">
      <mat-form-field class="contact-form__field">
        <input matInput formControlName="name" placeholder="Your name" class="app-input">
      </mat-form-field>
      <mat-form-field class="contact-form__field">
        <input matInput formControlName="email" placeholder="Your email" class="app-input">
      </mat-form-field>
    </div>
    <div class="contact-form__group">
      <mat-form-field class="contact-form__field">
        <input matInput formControlName="telephone" placeholder="Your phone number" class="app-input">
      </mat-form-field>
    </div>
  </div>

</form>
