@import "~src/theme/mixins";

$bg_color: var(--color-primary);
.contact-form{
  &__header{
    padding: 1px 15px;
    color:var(--color-font-light);
  }
  &__group{
    display: block;
    margin: 0 auto;
    width:60%;
  }
  &__field{
    margin-right: 10px;
  }
}

.app-input{

  color: var(--color-font-light);

}
