<app-nav></app-nav>
<app-header></app-header>
<div class="wrapper">
  <div class="container">

    <!--  <button (click)="showPage()"></button>-->
    <!--  <router-outlet></router-outlet>-->
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
        <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>

  </div>

  <app-sidebar>
    <app-order-basket></app-order-basket>
  </app-sidebar>





</div>

