.container{
  display: flex;
  padding-top: 55px;
  padding-bottom: 50px;
  @media (min-width: 1025px) {
padding: 0;

  }
  .menu{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    @media (min-width: 1025px) {
      align-items: normal;
      justify-content: normal;

    }

    //flex-flow: row wrap;
    //justify-content: space-between;
  }
}


//
//.sidebar__container{
//  height: 100%;
//  width:500px;
//  float: right;
//}

