

<div class="wrapper">

  <div class="container">
<div class="menu">
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
</div>
      <app-sidebar>
        <app-order-cart></app-order-cart>
      </app-sidebar>





  </div>







</div>

