<header class="header">
  <div class="header__container">
    <div class="header__logo" routerLink="/">
      <svg-icon src="./assets/icons/pizza.svg"></svg-icon>
    </div>
    <div class="header__menu menu">
      <div class="menu__desktop">
        <ul class="menu__list">
          <li class="menu__item active" *ngIf="this.displayService.isHistoryLinkDisplayed" routerLink="/history">
            History
          </li>
          <li class="menu__item active" routerLink="/">Main</li>
          <li class="menu__item user" *ngIf="this.displayService.isUserLoginDisplayed">
            <div class="user__icon"><mat-icon [inline]="true" >
account_circle
            </mat-icon></div>
            <div class="user__login">
              {{this.userLogin}}
            </div>

          </li>
          <li class="menu__item logout" (click)="logout()" *ngIf="this.displayService.isLogoutDisplayed">Logout</li>
        </ul>
        <div class="menu__login login"
             *ngIf="this.displayService.isHeaderLogoDisplayed"
             [class.active]="this.displayService.isHeaderLogoActive"
             (click)="toggleLogo()">
          <div class="login__normal">
            <mat-icon>sentiment_satisfied_alt</mat-icon>
          </div>

          <div class="login__hover">
            <mat-icon>sentiment_very_satisfied</mat-icon>
          </div>
        </div>
      </div>
      <button class="menu__btn">

      </button>
      <div class="menu__mobile">
        <ul class="menu__list">
          <li class="menu__item">Main</li>
          <li class="menu__item">About Us</li>
          <li class="menu__item">Logout</li>
          <li class="menu__item">Order Cart</li>
        </ul>
      </div>
    </div>
  </div>
</header>


