$primary: var(--color-primary);
$accent_light: var(--color-accent-light);
$accent: var(--color-accent);
$bg_color: var(--color-minor);
$border_color: var(--color-minor);
.header {
  background: $primary;
  width: 100%;
  height: 50px;
  border-bottom: 3px solid $bg_color;
  position: fixed;
  top:0;
  overflow: hidden;
  @media (min-width: 1025px) {
    position: relative;

  }

  &__container {
    margin: 0 auto;
    @media (min-width: 600px) {
      width: 600px;
    }


  }
  &__logo {
    display: inline-block;
    //position: absolute;
    padding-top: 5px;
    padding-left: 20px;
    @media (min-width: 600px) {
      padding-top: 5px;
    }

  }
}

.menu {
  padding: 20px 0;
  display: inline-block;
  float: right;
  .menu__btn {
    width: 40px;
    height: 40px;
    border-radius: 3px;
    background: transparent;
    border: none;
    position: relative;
    outline: none;
    float: right;
    margin-top: -15px;

    &::after {
      content: "";
      width: 20px;
      height: 2px;
      border-radius: 1px;
      background-color: $accent;
      position: absolute;
      top: 13px;
      left: 8px;
      box-shadow: 0 6px 0 0 $accent, 0 12px 0 0 $accent;
    }

    @media (min-width: 600px) {
      & {
        display: none;
      }
    }
  }

  &__desktop{
    display: none;
    margin-top: -15px;
    @media (min-width: 600px) {
      display: inline-block;

    }
    *{display: inline-block}

    .menu__list {
      margin-top: 0;
      max-height: 40px;
      vertical-align: middle;
    }

    .menu__item {

      padding: 12px 8px;
      margin-right: 4px;
      vertical-align: middle;
      cursor: pointer;
      color: $accent_light;

      &:hover {
        background: $primary;
        color: $accent;
      }
    }
    .menu__login {
      //background: #ffffff;
      //font-size: 30px;
      padding: 8px 12px;
      //color: $accent;
      float: right;
      margin-top: 4px;
      //cursor: pointer;

    }
  }
  &__mobile {
    .menu__list {
      //TODO: remove display:none in order to display mobile menu
      display: none;
      margin: 0;
      height: 100vh;
      background: $primary;
      position: fixed;
      top: 51px;
      left: 0;
      width: 100%;
      list-style-type: none;
      padding: 0;
    }

    .menu__item {
      padding: 20px;
      margin: 0 auto;
      max-width: 150px;
      border-bottom: 1px solid $border_color;
      text-align: center;

      &:active {
        background: $bg_color;
      }
    }


    @media (min-width: 1025px) {
      display: none;

    }
  }
}

.login{
  cursor: pointer;
  color: $accent_light;
  .login__hover{display: none}
  .login__normal{display: inline-block}
  &:hover{
    background-color: $accent_light;
    color: white;
    .login__hover{
      display: inline-block}
    .login__normal{display: none}
  }

}
