<header class="header">
  <div class="header__container">
    <div class="header__logo">
      Пицца Марио
    </div>
    <div class="header__menu menu">
      <button class="menu__btn">

      </button>
      <div class="menu__mobile">

        <ul class="menu__list">
          <li class="menu__item">Главная</li>
          <li class="menu__item">Акции</li>
          <li class="menu__item">О нас</li>
          <li class="menu__item">Вход</li>
          <li class="menu__item">Корзина</li>
        </ul>
      </div>
    </div>
  </div>
</header>


